<div class="table">
  <div class="cell">
    <div class="h-x8"></div>
    <div class="w-x8 h-x2 left"></div>
    <div class="left">
      <label class="header" style="color: #c3002f">Retail Sales</label>
    </div>
    <div class="w-x8 h-x2 left"></div>
    <div class="left">
      <label class="header" style="color: #0076a8">Wholesale Volume</label>
    </div>
    <br>
    <div class="h-x4"></div>
    <div class="divider"></div>
  </div>
  <div class="h-x8"></div>
  <div class="w-x8 cell"></div>
  <div class="cards cell">
    <div>
      <label class="header">Actual</label>
    </div>
    <div class="h-x2"></div>
    <div>
      <label class="header-val">12,000 # 1.4%</label>
    </div>
  </div>
  <div class="w-x8 cell "></div>
  <div class="cards cell">
    <div>
      <label class="header">Last Year</label>
    </div>
    <div class="h-x2"></div>
    <div>
      <label class="header-val">5,100</label>
    </div>
  </div>
  <div class="w-x8 cell"></div>
  <div class="cards cell">
    <div>
      <label class="header">Business Plan</label>
    </div>
    <div class="h-x2"></div>
    <div>
      <label class="header-val">2,313</label>
    </div>
  </div>
  <div class="w-x8 cell"></div>
</div>
<div class="table">
  <div [id]="graph"></div>
</div>
